@import "variables.less";

.ribbonBox{
  display:block;
  position:relative;
}

.corner-ribbon{
  width: 100px;
  height: 20px;
  background: #e43;
  position: absolute;
  top: 0px;
  left: -5px;

  padding-left: 6px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
}

/* Custom styles */

/*
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
*/

/* Topics */

.corner-ribbon.art {
  background: @art;
  background-color: @art;
  color: @engineering;
}

.corner-ribbon.science {
  background: @science;
  background-color: @science;
  color: @light-grey;
}

.corner-ribbon.engineering {
  background: @engineering;
  background-color: @engineering;
  color: @art;
}


div.corner-ribbon:nth-child(1) {
  top: 0px;
}

div.corner-ribbon:nth-child(1)::after {
  position: absolute;
  left: 100px;
  content: "";
  background-color: inherit;
  height: 20px;
  width: 60px;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}

div.corner-ribbon:nth-child(2) {
  top: 20px;
}

div.corner-ribbon:nth-child(2)::after {
  position: absolute;
  left: 100px;
  content: "";
  background-color: inherit;
  height: 20px;
  width: 40px;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}

div.corner-ribbon:nth-child(3) {
  top: 40px;
}

div.corner-ribbon:nth-child(3)::after {
  position: absolute;
  left: 100px;
  content: "";
  background-color: inherit;
  height: 20px;
  width: 20px;
  -moz-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}


